.tabla-container-bg{
    height: 500px;
}

.table-container {
    width: 100%;
 
    overflow-y: scroll;
      overflow-x: scroll;
      height: 500px; /* Establece la altura deseada */
    

  }

  table {
    width: max-content;
    border-collapse: collapse;
    
  }

  th, td {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border: 1px solid black;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #555;
  }

  thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  tr:hover {
    background-color: #f9f9f9;
  }

  td:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  td:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }



.container-bg {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  height: 900px;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  overflow: hidden;
  margin-bottom: 2rem;
}

.container-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  pointer-events: none;
}

.container-bg:hover {
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.3);
}

.container-bg .graficCharts {
  position: absolute;
  top: 0;
  left: 0;
  padding:3rem;
  
  

}


.container-bg .containervistaTicketAdmin{

position: absolute;
  top: 0;
  right: 0;
  overflow-y: auto;
  height: 850px;
 padding-bottom: 2rem;
  padding-top: 2rem;
  width: 75%;

  

}




.containerChart1 {
  padding-bottom: 2rem;
}


.containerChart2 {
  padding-bottom: 2rem;
}
